<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Zespół szkoł nr 5 w Jarocinie</title>

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    
    <link rel="Shortcut Icon" type="image/ico" href="{{ asset('imgs/favicon.ico') }}" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- CSS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=latin-ext,latin'" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/magnificpopup.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
    
    <link href="{{ asset('css/master.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/colors-classic.css') }}" rel="stylesheet" />   <!-- The color scheme -->
    
    <!-- Fixing Internet Explorer -->
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="{{ asset('css/ie.css') }}" />
    <![endif]-->

    <!--[if IE 7]>
        <link rel="stylesheet" href="{{ asset('css/ie7.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome-ie7.min.css') }}">
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head> 

<body class="page full">

    <div id="wrapperbox">

        {% block header %}{% endblock %}
        {% block body %}{% endblock %} 
        {% block footer %}{% endblock %}

    </div> <!-- END #wrapperbox -->
    <br class="clear" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script> 
    <script src="{{ asset('js/jquery.mobilemenu.js') }}"></script> 
    <script src="{{ asset('js/scripts.js') }}"></script>
    {% block javascript %}{% endblock %}
    
</body>
</html>