{% extends '::base.html.twig' %}

{% block header -%}

  <header role="banner">
      <div class="wrapper">

          <div id="logo">
              <h1>
                  <a href="{{ path('acme_front_index') }}" rel="home"><img src="{{ asset('imgs/logo.gif') }}" alt="inHarmony Logo" /></a>
                  <a href="{{ path('acme_front_index') }}" rel="home">inHarmony<span class="blue">.</span></a> <br />
                  <span class="subtitle">Just another HTML template</span>
              </h1>
          </div>
          
          <div id="address-block" itemscope="" itemtype="http://schema.org/Organization"> 
             <span itemprop="name" class="hidden">inHarmony Organization</span> 
             <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                  
                <span itemprop="streetAddress">2939 4th Ave W</span>,
                <span itemprop="addressLocality">Vancouver</span>,
                <span itemprop="postalCode">BC V6K 1R3</span>
             </div>
             <span itemprop="telephone"><i class="icon-mobile-phone"></i> <strong>123-456-9999</strong></span> 
             <a href="mailto:info@yourcompany.com" itemprop="email"><i class="icon-envelope"></i> info@the-company.com</a>
          </div>  
          
          <div id="social-block">
              <ul>
                  <li><a href="#" target="_blank" title="Twitter"><i class="icon-twitter"></i></a></li>
                  <li><a href="#" target="_blank" title="Facebook"><i class="icon-facebook"></i></a></li>
                  <li><a href="#" target="_blank" title="Linkedin"><i class="icon-linkedin"></i></a></li>
                  <li><a href="#" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a></li>
                  <li><a href="#" target="_blank" title="Google Plus"><i class="icon-google-plus"></i></a></li>
                  {# <li><a href="#" target="_blank" title="Youtube"><i class="icon-youtube"></i></a></li>
                  <li><a href="#" target="_blank" title="Dribbble"><i class="icon-dribbble"></i></a></li>
                  <li><a href="#" target="_blank" title="Flickr"><i class="icon-flickr"></i></a></li> 
                  <li><a href="#" target="_blank" title="Tumblr"><i class="icon-tumblr"></i></a></li>
                  <li><a href="#" target="_blank" title="Skype"><i class="icon-skype"></i></a></li>#}
              </ul>
          </div>
      </div>
      
      <nav id="mainmenu" role="navigation">
          <ul>

              <li>
                <a href="{{ path('acme_front_index') }}"
                {% if app.request.attributes.get('_route') == 'acme_front_index'  %}
                  class="active"
                {% endif %}
                >Start</a>
              </li>
              <li>
                <a href="{{ path('acme_front_news') }}"
                {% if app.request.attributes.get('_route') == 'acme_front_news'  %}
                  class="active"
                {% endif %}
                >Aktualności</a>
              </li>
              <li>
                <a href="{{ path('acme_front_history') }}"
                {% if app.request.attributes.get('_route') == 'acme_front_history'  %}
                  class="active"
                {% endif %}
                >Szkoła</a>
                  <ul class="sub-menu">
                      <li><a href="{{ path('acme_front_history') }}"
                        {% if app.request.attributes.get('_route') == 'acme_front_history'  %}
                          class="active"
                        {% endif %}
                        >Historia</a></li>
                      <li><a href="{{ path('acme_front_staff') }}"
                        {% if app.request.attributes.get('_route') == 'acme_front_staff'  %}
                          class="active"
                        {% endif %}
                        >Personel</a></li>
                      <li><a href="{{ path('acme_front_plan') }}"
                        {% if app.request.attributes.get('_route') == 'acme_front_plan'  %}
                          class="active"
                        {% endif %}
                        >Plan lekcji</a></li>
                      <li><a href="{{ path('acme_front_documents') }}"
                        {% if app.request.attributes.get('_route') == 'acme_front_documents'  %}
                          class="active"
                        {% endif %}
                        >Dokumenty</a></li>
                      <li><a href="{{ path('acme_front_interests') }}"
                        {% if app.request.attributes.get('_route') == 'acme_front_interests'  %}
                          class="active"
                        {% endif %}
                        >Koła zainteresowań</a></li>
                  </ul>
              </li>
              <li>
                <a href="{{ path('acme_front_gallery') }}"
                {% if app.request.attributes.get('_route') == 'acme_front_gallery'  %}
                  class="active"
                {% endif %}
                >Galeria</a>
              </li>
              <li>
                <a href="{{ path('acme_front_contact') }}"
                {% if app.request.attributes.get('_route') == 'acme_front_contact'  %}
                  class="active"
                {% endif %}
                >Kontakt</a>
              </li>
          </ul>       

          <!-- Search box -->
          <div id="sitesearch">
              <i class="icon-search"></i>
          </div>
          <div id="search-results">
              <script>
                (function() {
                  var cx = '017683756184911932766:rvnzs1j9m1g';
                  var gcse = document.createElement('script');
                  gcse.type = 'text/javascript';
                  gcse.async = true;
                  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                      '//www.google.com/cse/cse.js?cx=' + cx;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(gcse, s);
                })();
              </script>
              <div id="search-box">
                  <div class="gcse-search"></div>
              </div>
          </div>
          
      </nav>   
  </header>

{% endblock %}

{% block body %}

        {% block section -%}{% endblock %}

{% endblock %}

{% block footer %}
  <footer role="contentinfo" id="footer">
    <div class="wrapper">
        <div class="footerbox">
            <h3>About Us</h3>
            <p>We create awesome HTML and WP themes and templates for your great online presence. We also provide support if you get any issues on our items. Check it out!</p>
            <br />
            <p><a href="http://themeforest.net/user/Darinka?ref=Darinka" target="_blank" class="button">BUY THIS</a></p>
        </div>
    
        <div class="footerbox">
            <h3>Latest News</h3>
            <ul>
                <li>
                    <i class="icon-file-text"></i> 
                    <h4><a href="blog-post.html">Single Clean Post</a></h4>
                    <p class="small"><strong>Aug 3</strong> / admin </p>
                </li>
                <li>
                    <i class="icon-file-text"></i> 
                    <h4><a href="blog-post.html">Our Blog Revived!</a></h4>
                    <p class="small"><strong>Aug 3</strong> / Darinka </p>
                </li>
                <li>
                    <i class="icon-file-text"></i> 
                    <h4><a href="blog-post.html">New Site Out Tomorrow</a></h4>
                    <p class="small"><strong>Aug 3</strong> / admin </p>
                </li>
            </ul>
        </div>
        
        <div class="footerbox">
            <h3>Events</h3>
            <ul>
                <li>
                    <i class="icon-calendar"></i> 
                    <h4><a href="event.html">Open Klasses</a></h4>
                    <p class="small"><strong>Aug 3</strong> / Street Art 2013 </p>
                </li>
                <li>
                    <i class="icon-calendar"></i> 
                    <h4><a href="event.html">Summer Party</a></h4>
                    <p class="small"><strong>Aug 10</strong> / Best place to party! </p>
                </li>
                <li>
                    <i class="icon-calendar"></i> 
                    <h4><a href="event.html">Charity Event</a></h4>
                    <p class="small"><strong>Aug 12</strong> / Help find the cure!</p>
                </li>
            </ul>
        </div>
        
        <div class="footerbox last">
            <h3>Our newsletter</h3>
            <form method="post" action="#" />
                <p>Sign up now to receive weekly news about new products and great discounts!</p>
                <p><label for="email">Your e-mail address</label> <input type="text" id="email" value="" /></p>
                <p><button type="submit">Subscribe</button></p>
            </form>
        </div>
        <div class="clear"></div>

        <hr />
        <p class="left small">Copyright &copy; 2013 Your Company Name. <br />All rights reserved.</p>
        <ul class="footermenu">
            <li><a href="{{ path('acme_front_index') }}">Start</a></li>
            <li><a href="{{ path('acme_front_news') }}">Aktualności</a></li>
            <li><a href="{{ path('acme_front_gallery') }}">Galeria</a></li>
            <li><a href="{{ path('acme_front_contact') }}">Kontakt</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</footer>
{% endblock %}

