{% extends '::body.html.twig' %}
{% block section %}

	<div class="wrapper">
		<div id="content" role="main">

			<h1>title {{id}}</h1>	
			
			<p itemscope="" id="breadcrumbs"><a href="{{ path('acme_front_index') }}" rel="home" itemprop="url"><span itemprop="title">Start</span></a> <i class="icon-chevron-right"></i> <a href="{{ path('acme_front_news') }}" itemprop="url"><span itemprop="title">Aktualności</span></a> <i class="icon-chevron-right"></i> title {{id}}</p>
			<hr />

			<article id="post-1" class="post">

				<header class="entry-header">

					<div class="post-image" style="text-align: center">
						<img src="{{ asset('imgs/portfolio/vladstudio_books_color3_1024x768_signed-cropped.jpg') }}" alt="" />		
					</div>	


					<div class="entry-byline">
						<ul>
							<li><strong><i class="icon-user" title="Author"></i></strong> <span class="author vcard"><a class="url fn n" rel="author" href="http://plus.google.com/u/0/111854949903094161194/" title="Darina Tyrpak">Darina Tyrpak</a></span></li>
							<li><strong><i class="icon-calendar" title="Published on"></i></strong> <abbr class="published" title="Sunday, January 27th, 2013, 9:44 pm">January 27, 2013</abbr></li>
							<li><strong><i class="icon-comment" title="Comments"></i></strong> <a class="comments-link" href="#comments" title="Comment on Hello world!">1 Response</a></li>
						</ul>
					</div>
					
				</header> 

				<div class="entry-content">

					<h1>Once Upon a Time, There Was a Template...</h1>		
					

					<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. Integer posuere erat a venenatis dapibus posuere velit aliquet duis mollis.</p>
					<p>Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.</p>
					<blockquote><p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p></blockquote>
					<p>Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. <a href="#">Cras mattis consectetur purus</a> sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
					<h2>H2 Sub-Heading</h2>
					<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. <a href="#">Integer posuere erat a ante venenatis</a> dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
					<h3>H3 Sub-Heading</h3>
					<p>Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.</p>
					<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</p>
					<ul class="tick">
						<li>Cras mattis consectetur purus sit amet</li>
						<li>Cras mattis consectetur purus sit amet fermentum</li>
						<li>Donec sed odio dui</li>
					</ul>
					<p>Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.</p>



					<footer class="entry-footer">
						<div class="entry-meta">
							<p class="left">Posted in: </p>
							<ul class="tags">
								<li><a href="#" rel="tag">Uncategorized</a></li> 
							</ul>
						</div>		
					</footer>
				</div>
				<div class="clear"></div>
				
			</article>
				

			<div class="clear"></div>
			  
		</div>

		<div class="clear"></div>

	</div>

{% endblock %}

{% block javascript %}
	
{% endblock %}