{% extends '::body.html.twig' %}
{% block section %}

	

<div class="wrapper">
	<div id="content" role="main">
		<h1>Kontakt</h1>
		<p itemscope="" id="breadcrumbs"><a href="{{ path('acme_front_index') }}" rel="home" itemprop="url"><span itemprop="title">Start</span></a> <i class="icon-chevron-right"></i> Kontakt</p>
		<hr />
		
		<div id="map">
			<div id="map-content">
				<p class="center">Ładowanie mapy...</p>
			</div>
		</div>
		<div class="p30">

			<h3>Zespół Szkół nr 5 w Jarocinie</h3>

			<p>ul. Ludwika Waryńskiego 11<br />
			63-200 Jarocin</p>

			<p><strong class="p15"><i class="icon-phone" title="Phone"></i> &nbsp;</strong> 62 747-20-06<br />
				<strong class="p15"><i class="icon-copy" title="Fax"></i> &nbsp;</strong> 62 747-20-06<br />
				<strong class="p15"><i class="icon-envelope" title="Email"></i> &nbsp;</strong> szkola5jarocin@op.pl<br />
		</div>
	
		<div class="p70 right">

			<h3>Skontaktuj się z nami</h3>

			<mark id="message"></mark>

			<form method="post" action="contact/contact.php" name="contactform" id="contactform" autocomplete="on" />

				<fieldset>
					<div class="p50 input-block">
						<label for="name" accesskey="U"><strong>Imie i Nazwisko</strong> (wymagane)</label>
						<input name="name" type="text" id="name" required="required" />
					</div>
					<div class="p50 input-block right">
						<label for="email" accesskey="E"><strong>Adres e-mail</strong> (wymagane)</label>
						<input name="email" type="email" id="email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" required="required" />
					</div>
				</fieldset>

				<fieldset>
					<div class="input-block">
						<label for="subject" accesskey="S"><strong>Tytuł</strong></label>
						<input name="subject" type="text" id="subject" />
					</div>

					<div class="input-block">
						<label for="comments" accesskey="C"><strong>Treść</strong> (wymagane)</label>
						<textarea name="comments" cols="40" rows="3" id="comments" spellcheck="true" required="required"></textarea>
					</div>
				</fieldset>

				{# <fieldset>
					<legend><strong>Are you human?</strong></legend>

					<label for="verify" accesskey="V" class="verify left"><img src="contact/image.php" alt="Verification code" /></label>
					<input name="verify" type="text" id="verify" size="6" required="required" style="width: 50px;" title="This confirms you are a human user and not a spam-bot." />

				</fieldset> #}

				<input type="submit" class="submit" id="submit" value="Wyślij" />

			</form>

		</div>

		  
	</div>
</div>

{% endblock %}

{% block javascript %}
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="{{ asset('js/jquery.gmap.min.js') }}"></script> 
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
	<script src="contact/jquery.jigowatt.js"></script>

	<script type="text/javascript"> 			
	jQuery(document).ready(function() {

		 $('#map-content').gMap({
			address: "Ludwika Waryńskiego 11, Jarocin",
			scrollwheel: false,
			zoom: 14,
			markers:[
				{
					address: "Ludwika Waryńskiego 11, Jarocin"
				}
			]
		});
	});
	</script>

{% endblock %}