{% extends '::body.html.twig' %}
{% block section %}

	<div class="wrapper">
		<div id="content" role="main">

			<h1>Dokumenty</h1>
			
			<p itemscope="" id="breadcrumbs"><a href="{{ path('acme_front_index') }}" rel="home" itemprop="url"><span itemprop="title">Start</span></a> <i class="icon-chevron-right"></i> Dokumenty</p>
			<hr />		
			
			<div class="pricing four">
				
				<table style="width: 100%">
					<thead>
						<tr>
							<th class="heading">L.p.</th>
							<th class="heading" style="text-align:left">Nazwa dokumentu</th>
							<th class="heading"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1.</td>
							<td style="text-align:left"><a href="#">Szkolny zestaw podręczników do szkoły podstawowej</a></td>
							<td style="width: 20%; text-align: right"><a href="#" class="button blue small">Pobierz</a></td>
						</tr>
						<tr>
							<td>2.</td>
							<td style="text-align:left"><a href="#">Wewnątrzszkolny system oceniania - gimnazjum</a></td>
							<td style="width: 20%; text-align: right"><a href="#" class="button blue small">Pobierz</a></td>
						</tr>
					</tbody>
				</table>
				
			</div>

			
			<div class="clear"></div>
			  
		</div>
	</div>

{% endblock %}

{% block javascript %}
	
{% endblock %}