{% extends '::body.html.twig' %}
{% block section %}

	<div class="wrapper">
		
		
			
		<div id="content" role="main">
			
			<h1>Historia</h1>
			

			<p itemscope="" id="breadcrumbs"><a href="{{ path('acme_front_index') }}" rel="home" itemprop="url"><span itemprop="title">Start</span></a> <i class="icon-chevron-right"></i> Historia</p>
			<hr />
			

		
			<h2><strong>Nasza szkoła...</strong></h2>
			<br />
			<p class="extrabig">...miejsce gdzie od lat kształci się wiele zdolnych osób. Każdego roku nasze mury opuszcza 200 absolwentów</p>
			<hr />
			<p>Aliquam hendrit rutrum iaculis nullam ondimentum maluada velit beum donec sit amet tristique erosam amet. Risus mollis malesuada quis quis nulla. Vestibulum ante ipsum primis in faucibus orcluctus et ultrices posuere cubilia mattis elit porttitor euismod pharetra sem interdum. Etiam laoreet sagittis placerat. Ut in magna sit amet massa posuere pretium. Vestibulum id est nulla, non adipiscing tortor. Aenean sed dolor quis nulla sodales bibendum. In vitae justo mi. Sed nunc tortor, sagittis quis viverra id, molestie vitae nibh. Donec vitae lacus sed risus accumsan consectetur.</p>
			<p>Donec odio ut arcu fringilla dictum eu eu nisl. Donec rutrum erat non arcu gravida porttitor. Nunc et magna nisi. lore Aliquam at erat in lorem purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas. Maecenas ut nulla quis eros scelerisque posuere vel vitae nibh. Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. malesuada tortor, nec scelerisque lorem mattis.</p>
			<p>Nunc et rutrum consetetur sadipscing dolor elitr, sed diam nonumy lore at volutpat. Sed consectetur suscipit lorem nunc.adipiscing elit. Integercommodo tristique odio, quis fringilla ligula aliquet. Proin iaculis purus consequat dursus dolor dignitea onecade lore porttitora suscipit aenean roncus posuere odio tincidunt posuere molestie. Nam aliquam volutpat vel bibendum nunc elit purus tempus pulvinar rhoncus eges tas vel nibheas volutpat leo aliquam in scelerise sagittis.</p>
			<br />
			{# <div class="p33 center">
				<p class="smaller-padding"><i class="icon-desktop extrabig blue"></i></p> 
				<h3>Our Company Mission</h3>
				<p>Aliquam hendrit rutrum iaculis nullam ondimentum maluada velit beum donec sit amet tristique erosam amet. Risus mollis malesuada quis quis nulla. </p>
			</div>
			<div class="p33 center">
				<p class="smaller-padding"><i class="icon-list-alt extrabig blue"></i></p> 
				<h3>Success Stories</h3>
				<p>Aliquam hendrit rutrum iaculis nullam ondimentum maluada velit beum donec sit amet tristique erosam amet. Risus mollis malesuada quis quis nulla. </p>
			</div>
			<div class="p33 center">
				<p class="smaller-padding"><i class="icon-zoom-in extrabig blue"></i></p> 
				<h3>Our Approach</h3>
				<p>Aliquam hendrit rutrum iaculis nullam ondimentum maluada velit beum donec sit amet tristique erosam amet. Risus mollis malesuada quis quis nulla. </p>
			</div> #}
			<div class="clear"></div>
                    

			  
		</div>

		
		<div class="clear"></div>
	</div>

{% endblock %}

{% block javascript %}

		

{% endblock %}