{% extends '::body.html.twig' %}
{% block section %}

	<div class="wrapper">
		<div id="slider">
			<div id="slides">
				<div class="slide">
					<img class="slide-image" src="{{ asset('imgs/slideimage1.png') }}" alt="" />
					<img class="slide-back" src="{{ asset('imgs/slideback1.jpg') }}" alt="" />
					<div class="slide-text">
						<p>Theme inHarmony keeps you happy because...</p>
						<p class="extrabig superbold">IT'S GOOD TO HAVE GOOD CODING</p>
						<p>and <strong>better documentation</strong></p>
						<p class="inline"><a href="#" class="button">Buy it</a></p>
					</div>
				
				</div>
				<div class="slide">
					<img class="slide-image" src="{{ asset('imgs/slideimage2.png') }}" alt="" />
					<img class="slide-back" src="{{ asset('imgs/slideback2.jpg') }}" alt="" />

					<div class="slide-text">
						<p>Perfect for business and others</p>
						<p class="extrabig superbold">IT'S CLEAN, COLORFUL, SIMPLE AND PRETTY</p>
						<p>and it has <strong>color schemes</strong>!</p>
					</div>
				</div>
				<div class="slide">
					<img class="slide-image" src="{{ asset('imgs/slideimage3.png') }}" alt="" />
					<img class="slide-back" src="{{ asset('imgs/slideback3.jpg') }}" alt="" />
					<div class="slide-text">
						<p>Responsivness is your best friend</p>
						<p class="extrabig superbold">LOOKS AWESOME AT ANY WIDTH</p>
						<p>with <strong>media queries</strong></p>
					</div>
				</div>
				<div class="slide">
					<img class="slide-image" src="{{ asset('imgs/slideimage4.png') }}" alt="" />
					<img class="slide-back" src="{{ asset('imgs/slideback4.jpg') }}" alt="" />
					<div class="slide-text">
						<p>Everything is in harmony</p>
						<p class="extrabig superbold">PROFESIONALLY STRUCTURED HTML TEMPLATE</p>
						<p>that helps you code <strong>quicker and easily</strong></p>
					</div>
				</div>
			</div>
			<a href="javascript:void(0)" class="prev1"><i class="icon-chevron-left"></i></a>
			<a href="javascript:void(0)" class="next1"><i class="icon-chevron-right"></i></a>
		</div>
	</div>

	<div id="slogan">
		<div class="wrapper">
			<h2>We are eager to help our customers become great!</h2>
			<p>This is inHarmony! This template was developed to be clean, simple to alter and flexible. Please, do not hesitate to play with its design styles, you can either choose a predefined color scheme or simply create your own. inHarmony template has a thorough documentation file, check it out!</p>
			<p><a href="documentation.html" class="small">Go to documentation</a></p>
			<div class="clear"></div>
		</div>
	</div>

	<div class="wrapper">
		<div id="clients">
			<h2>Our Clients</h2>
			<div class="carousel7">
				<ul>
					<li><img src="{{ asset('imgs/clientlogo1.png') }}" alt="" /></li>
					<li><img src="{{ asset('imgs/clientlogo2.png') }}" alt="" /></li>
					<li><img src="{{ asset('imgs/clientlogo3.png') }}" alt="" /></li>
					<li><img src="{{ asset('imgs/clientlogo4.png') }}" alt="" /></li>
					<li><img src="{{ asset('imgs/clientlogo5.png') }}" alt="" /></li>
					<li><img src="{{ asset('imgs/clientlogo6.png') }}" alt="" /></li>
					<li><img src="{{ asset('imgs/clientlogo7.png') }}" alt="" /></li>
					<li><img src="{{ asset('imgs/clientlogo1.png') }}" alt="" /></li>
					<li><img src="{{ asset('imgs/clientlogo2.png') }}" alt="" /></li>
				</ul>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascript %}
	<script src="{{ asset('js/jquery.easing.js') }}"></script> 
    <script src="{{ asset('js/jquery.cycle.all.js') }}"></script> 
    <script src="{{ asset('js/jquery.jcarousel.min.js') }}"></script> 
	<script type="text/javascript">
		jQuery(window).load(function() {
			// init Cycle for slider
			
			$('#slides').after('<div id="circle-pager">').cycle({
				fx:      'fade', 
				speed:    300, 
				timeout:  8000,
				cleartype:  true,
				cleartypeNoBg: false,
				pager: '#circle-pager',
				next:  '#slider .next1', 
				prev:  '#slider .prev1',
				slideResize: true,
				fit: 1,
				width: '100%',
				before:  function(currSlideElement, nextSlideElement) { 
					// hide elements and put them in start position		
					$(this).find('.slide-image').css({
						'opacity': '0',
						'left': '-50px'
					});
					$(this).find('.slide-text').css({
						'opacity': '0',
						'top': '0'
					});
					$(this).find('.slide-text p').css({
						'opacity': '0',
						'left': '15px'
					});
				},
				after:  function(currSlideElement, nextSlideElement) { 			
					// fade in image
					$(this).find('.slide-image').animate({
						'opacity': '1',
						'left': '0'
					}, 500, 'linear');
					// bring the text box from top
					$(this).find('.slide-text').delay(500).animate({
						'opacity': '1',
						'top': '25%'
					}, 500, 'easeOutBack');
					// bring the paragraphs in
					$(this).find('.slide-text p:eq(0)').delay(500).animate({
						'opacity': '1',
						'left': '0'
					}, 500, 'easeOutBack');
					$(this).find('.slide-text p:eq(1)').delay(700).animate({
						'opacity': '1',
						'left': '0'
					}, 500, 'easeOutBack');
					$(this).find('.slide-text p:eq(2)').delay(900).animate({
						'opacity': '1',
						'left': '0'
					}, 500, 'easeOutBack');
					$(this).find('.slide-text p:eq(3)').delay(1100).animate({
						'opacity': '1',
						'left': '0'
					}, 500, 'easeOutBack');

				} 
			});

			// init Cycle for testimonials
			$('#quotes').cycle({
				fx:      'fade', 
				speed:    400, 
				timeout:  0,
				cleartype:  false,
				next:  '#quotes-nav .next2', 
				prev:  '#quotes-nav .prev2',
				slideResize: true,
				fit: 1,
				width: '100%'
			});
			
			// init jCarousel for portfolio projects
			$('.carousel4').jcarousel({
				'visible': 4,
				'wrap': 'both'
			});
			$('#latest-projects .prev1').click(function() {
				$('.carousel4').jcarousel('scroll', '-=1');
			});
			$('#latest-projects .next1').click(function() {
				$('.carousel4').jcarousel('scroll', '+=1');
			});

			// init jCarousel for recent news
			$('.carousel-vert4').jcarousel({
				'vertical': true,
				'visible': 4,
				'wrap': 'both'
			});
			$('#recent-news .prev2').click(function() {
				$('.carousel-vert4').jcarousel('scroll', '-=1');
			});
			$('#recent-news .next2').click(function() {
				$('.carousel-vert4').jcarousel('scroll', '+=1');
			});
			 
			// init jCarousel for client logos
			$('.carousel7').jcarousel({
				'wrap': 'circular'
			}).jcarouselAutoscroll({
				'interval': 2000,
				'autostart': true,
				'target': '+=1'
			});	
		});
	</script>

{% endblock %}