{% extends '::body.html.twig' %}
{% block section %}

	<div class="wrapper">
		<div id="content" role="main">

			<h1>Koła zainteresowań</h1>

			<p itemscope="" id="breadcrumbs"><a href="{{ path('acme_front_index') }}" rel="home" itemprop="url"><span itemprop="title">Start</span></a> <i class="icon-chevron-right"></i> Koła zainteresowań</p>
			<hr />
			
			<p class="big"><strong>W naszym Zespole Szkół</strong> prężnie działa wiele kół zainteresowań zrzeszając bardzo wielu zdolnych uczniów. Dolor sit amet, consectetur adipiscing elit. In elementum arcu non mi placerat, id euismod justo varius. Mauris tortor augue, cursus a luctus sed, mollis ut massa. Donec nunc est, fringilla ac sem ac, eleifEND lacinia libero. Maecenas dolor turpis, sodales eget felis in, semper aliquet felis.</p>
			<br />
			<div class="accordion accordion-style1">
				<h4 class="accordion-title"><a href="#">Koło naukowe Antena</a></h4>
				<div><p>Aliquam hendrit rutrum iaculis nullam ondimentum maluada velit beum donec sit amet tristique erosam amet risus mollis malesuada quis quis vestibulum ante ipsum primis in faucibus luctus et ultrices posuere cubilia Curae mattis elit porttitor euismod pharetra sem interdum. Etiam laoreet sagittis placerat. Ut in magna amet massa posuere pretium. Vestibulum nulla, non adipiscing tortor. Aenean sed dolor quis nulla sodales bibendum. In vitae justo mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius porta pretium. Pellentesque in diam dui.
				</p></div>
			 
				<h4 class="accordion-title"><a href="#">Koło przyrodnicze</a></h4>
				<div><p>Aliquam hendrit rutrum iaculis nullam ondimentum maluada velit beum donec sit amet tristique erosam amet risus mollis malesuada quis quis vestibulum ante ipsum primis in faucibus luctus et ultrices posuere cubilia Curae mattis elit porttitor euismod pharetra sem interdum. Etiam laoreet sagittis placerat. Ut in magna amet massa posuere pretium. Vestibulum nulla, non adipiscing tortor. Aenean sed dolor quis nulla sodales bibendum. In vitae justo mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius porta pretium. Pellentesque in diam dui.
				</p></div>

				<h4 class="accordion-title"><a href="#">Koło matematyczne</a></h4>
				<div><p>Aliquam hendrit rutrum iaculis nullam ondimentum maluada velit beum donec sit amet tristique erosam amet risus mollis malesuada quis quis vestibulum ante ipsum primis in faucibus luctus et ultrices posuere cubilia Curae mattis elit porttitor euismod pharetra sem interdum. Etiam laoreet sagittis placerat. Ut in magna amet massa posuere pretium. Vestibulum nulla, non adipiscing tortor. Aenean sed dolor quis nulla sodales bibendum. In vitae justo mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius porta pretium. Pellentesque in diam dui.
				</p></div>
				
				<h4 class="accordion-title"><a href="#">Koło plastyczne</a></h4>
				<div><p>Aliquam hendrit rutrum iaculis nullam ondimentum maluada velit beum donec sit amet tristique erosam amet risus mollis malesuada quis quis vestibulum ante ipsum primis in faucibus luctus et ultrices posuere cubilia Curae mattis elit porttitor euismod pharetra sem interdum. Etiam laoreet sagittis placerat. Ut in magna amet massa posuere pretium. Vestibulum nulla, non adipiscing tortor. Aenean sed dolor quis nulla sodales bibendum. In vitae justo mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius porta pretium. Pellentesque in diam dui.
				</p></div>
				
				<h4 class="accordion-title"><a href="#">Koło techniczne</a></h4>
				<div><p>Aliquam hendrit rutrum iaculis nullam ondimentum maluada velit beum donec sit amet tristique erosam amet risus mollis malesuada quis quis vestibulum ante ipsum primis in faucibus luctus et ultrices posuere cubilia Curae mattis elit porttitor euismod pharetra sem interdum. Etiam laoreet sagittis placerat. Ut in magna amet massa posuere pretium. Vestibulum nulla, non adipiscing tortor. Aenean sed dolor quis nulla sodales bibendum. In vitae justo mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius porta pretium. Pellentesque in diam dui.
				</p></div>

			 </div>
			
		</div>	
			
			
		<div class="clear"></div>	  
		
	</div>
	

{% endblock %}

{% block javascript %}
	
{% endblock %}