{% extends '::body.html.twig' %}
{% block section %}


	<div class="wrapper">
		<div id="content" role="main">
			<h1>Aktualności</h1>	
			
			<p itemscope="" id="breadcrumbs"><a href="{{ path('acme_front_index') }}" rel="home" itemprop="url"><span itemprop="title">Start</span></a> <i class="icon-chevron-right"></i> Aktualności</p>
			<hr />

			
			<article id="post-1" class="post format-standard sticky">

				<header class="entry-header">
					<div class="post-thumb" style="text-align: center">
						<a href="{{ path('acme_front_show_article', { 'id': 1 }) }}"><img src="{{ asset('imgs/portfolio/vladstudio_books_color3_1024x768_signed-cropped.jpg') }}" alt="" /></a>	
					</div>

					<div class="entry-byline">
						<ul>
							<li><strong><i class="icon-user" title="Author"></i></strong> <span class="author vcard"><a class="url fn n" rel="author" href="http://plus.google.com/u/0/111854949903094161194/" title="Darina Tyrpak">Darina Tyrpak</a></span></li>
							<li><strong><i class="icon-calendar" title="Published on"></i></strong> <abbr class="published" title="Sunday, January 27th, 2013, 9:44 pm">January 27, 2013</abbr></li>
							<li><strong><i class="icon-comment" title="Comments"></i></strong> <a class="comments-link" href="#comments" title="Comment on Hello world!">1 Response</a></li>
						</ul>
					</div>
				
				</header>

				<div class="entry-summary">
					
					<h1><a href="{{ path('acme_front_show_article', { 'id': 1 }) }}">Once Upon a Time, There Was a Template...</a></h1>
				

					<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. Integer posuere erat a venenatis dapibus posuere velit aliquet duis mollis.</p>
					

					<footer class="entry-footer">
						<div class="entry-meta">
							<p class="left">Posted in: </p>
							<ul class="tags">
								<li><a href="#" rel="tag">Uncategorized</a></li> 
							</ul>
						</div>		
					</footer>
				</div>
				<div class="clear"></div>
			</article>

			<article id="post-2" class="post format-standard sticky">

				<header class="entry-header">
					<div class="post-thumb" style="text-align: center">
						<a href="{{ path('acme_front_show_article', { 'id': 2 }) }}"><img src="{{ asset('imgs/portfolio/vladstudio_books_color3_1024x768_signed-cropped.jpg') }}" alt="" /></a>	
					</div>

					<div class="entry-byline">
						<ul>
							<li><strong><i class="icon-user" title="Author"></i></strong> <span class="author vcard"><a class="url fn n" rel="author" href="http://plus.google.com/u/0/111854949903094161194/" title="Darina Tyrpak">Darina Tyrpak</a></span></li>
							<li><strong><i class="icon-calendar" title="Published on"></i></strong> <abbr class="published" title="Sunday, January 27th, 2013, 9:44 pm">January 27, 2013</abbr></li>
							<li><strong><i class="icon-comment" title="Comments"></i></strong> <a class="comments-link" href="#comments" title="Comment on Hello world!">1 Response</a></li>
						</ul>
					</div>
				
				</header>

				<div class="entry-summary">
					
					<h1><a href="{{ path('acme_front_show_article', { 'id': 2 }) }}">Once Upon a Time, There Was a Template...</a></h1>
				

					<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. Integer posuere erat a venenatis dapibus posuere velit aliquet duis mollis.</p>
					

					<footer class="entry-footer">
						<div class="entry-meta">
							<p class="left">Posted in: </p>
							<ul class="tags">
								<li><a href="#" rel="tag">Uncategorized</a></li> 
							</ul>
						</div>		
					</footer>
				</div>
				<div class="clear"></div>
			</article>
			

			<div class="pagination loop-pagination">
				<span class="page-numbers current">1</span>
				<a class="page-numbers" href="#">2</a>
				<a class="page-numbers" href="#">3</a>
				<a class="next page-numbers" href="#">Next <span class="meta-nav">&rarr;</span></a>
			</div> 
		</div> 

		<div class="clear"></div>

	</div>

{% endblock %}

{% block javascript %}
	

{% endblock %}