{% extends '::body.html.twig' %}
{% block section %}

	<div class="wrapper">
		<div id="content" role="main">
			<h1>Plan zajęć</h1>
			
			<p itemscope="" id="breadcrumbs"><a href="{{ path('acme_front_index') }}" rel="home" itemprop="url"><span itemprop="title">Start</span></a> <i class="icon-chevron-right"></i> Plan zajęć</p>
			<hr />
			
		
		<div class="p100">

			<div class="p33">
				<h2>Gimnazjum - klasa pierwsza</h2>
				<br />
				<ul class="tick">
					<li><a href="#">2012/2013 - klasa Ia</a></li>
					<li><a href="#">2012/2013 - klasa Ib</a></li>
					<li><a href="#">2012/2013 - klasa Ic</a></li>
					<li><a href="#">2012/2013 - klasa Id</a></li>
				</ul>
			</div>
			<div class="p33">
				<h2>Gimnazjum - klasa druga</h2>
				<br />
				<ul class="tick">
					<li><a href="#">2012/2013 - klasa IIa</a></li>
					<li><a href="#">2012/2013 - klasa IIb</a></li>
					<li><a href="#">2012/2013 - klasa IIc</a></li>
					<li><a href="#">2012/2013 - klasa IId</a></li>
				</ul>
			</div>
			<div class="p33">
				<h2>Gimnazjum - klasa trzecia</h2>
				<br />
				<ul class="tick">
					<li><a href="#">2012/2013 - klasa IIIa</a></li>
					<li><a href="#">2012/2013 - klasa IIIb</a></li>
					<li><a href="#">2012/2013 - klasa IIIc</a></li>
					<li><a href="#">2012/2013 - klasa IIId</a></li>
				</ul>
			</div>

			<div class="p33">
				<h2>Liceum - klasa pierwsza</h2>
				<br />
				<ul class="tick">
					<li><a href="#">2012/2013 - klasa Ia</a></li>
					<li><a href="#">2012/2013 - klasa Ib</a></li>
					<li><a href="#">2012/2013 - klasa Ic</a></li>
					<li><a href="#">2012/2013 - klasa Id</a></li>
				</ul>
			</div>
			<div class="p33">
				<h2>Liceum - klasa druga</h2>
				<br />
				<ul class="tick">
					<li><a href="#">2012/2013 - klasa IIa</a></li>
					<li><a href="#">2012/2013 - klasa IIb</a></li>
					<li><a href="#">2012/2013 - klasa IIc</a></li>
					<li><a href="#">2012/2013 - klasa IId</a></li>
				</ul>
			</div>
			<div class="p33">
				<h2>Liceum - klasa trzecia</h2>
				<br />
				<ul class="tick">
					<li><a href="#">2012/2013 - klasa IIIa</a></li>
					<li><a href="#">2012/2013 - klasa IIIb</a></li>
					<li><a href="#">2012/2013 - klasa IIIc</a></li>
					<li><a href="#">2012/2013 - klasa IIId</a></li>
				</ul>
			</div>

		</div>
			
			<div class="clear"></div>
			  
		</div>
	</div>

{% endblock %}

{% block javascript %}
	
{% endblock %}