{% extends '::body.html.twig' %}
{% block section %}


	<div class="wrapper">
		<div id="content" role="main">

			<h1>Personel szkolny</h1>
			
			<p itemscope="" id="breadcrumbs"><a href="{{ path('acme_front_index') }}" rel="home" itemprop="url"><span itemprop="title">Start</span></a> <i class="icon-chevron-right"></i> Personel szkolny</p>
			<hr />		
			
			<div class="pricing four">
				
				<table style="width: 100%">
					<thead>
						<tr>
							<th class="heading">L.p.</th>
							<th class="heading">Imię i nazwisko</th>
							<th class="heading">Zawód</th>
							<th class="heading">Przedmiot nauczania</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1.</td>
							<td>Jan Nowak</td>
							<td>Nauczyciel</td>
							<td>Informatyka</td>
						</tr>
						<tr>
							<td>2.</td>
							<td>Anna Jackowska</td>
							<td>Nauczyciel</td>
							<td>Matematyka</td>
						</tr>
					</tbody>
				</table>
				
			</div>

			
			<div class="clear"></div>
			  
		</div>
	</div>

{% endblock %}

{% block javascript %}
	
{% endblock %}